.contact_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.contact_card {
    width: 30%;

}

.pose_contact {
    display: flex;
    justify-content: center;

}

.pose_card {
    display: flex;
    justify-content: center;

}

.contacttitle h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.contacttitle {
    margin-bottom: 75px;

}

.contactinputs p {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #f8f9f9;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 7px;
    transition: 200ms ease-in;

}

.contactinputs p:hover {
    transform: scale(1.01);
    cursor: text;
    color: white;
    background-color: #c6a5d3;

}

.messagesend {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 75px;

}

.messagesend a {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #8c50a4;
    padding: 15px;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 200ms ease-in;

}

.messagesend a:hover {
    background-color: #c6a5d3;

}