.eventcard {
    display: none;
    
}

.eventsblock {
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}

.column{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    overflow-y: scroll;
}

.show {
    display: flex;
    flex-grow: 1;
    margin: 25px;
}

.btn.actief {
    background-color: #9b59b6;
    color: white;
}

.btn:hover{
    cursor: pointer;
}

