/* MEDIA QUERIES */

@media only screen and (max-width: 1600px) {
    .card_position {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1300px) {
    .card_position {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
        margin-left: 0%;
    }

    .event_card {
        border-radius: 0px 0px 0px 0px;
    }

    .event_card img {
        border-radius: 0px 0px 0px 0px;
    }

    .event_card p {
        font-size: 14px;
    }

    .tags_event p {
        margin-top: -2px;
    }

}


@media only screen and (max-width: 1050px) {

    .event_card p {
        font-size: 17px;
    }

}

@media only screen and (max-width: 930px) {
    .event_card p {
        font-size: 17px;
    }

    .event_card h1 {
        font-size: 20px;
    }

    .tags_event p {
        margin-top: 7px;
    }
}





@media only screen and (max-width: 1075px) {
    .card_position p {
        font-size: 9px;
    }

}

@media only screen and (max-width: 900px) {
    .card_position p {
        font-size: 7px;
    }

    .search_buttons {
        font-size: 7px;
    }

    .eventtext p {
        max-width: 220px;
    }
}

@media only screen and (max-width: 517px) {

    .search_buttons {
        font-size: 5px;
    }



    .event_card img {
        width: 150px;
        height: 150px;
    }

}

.buttons_scroll {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 400px) {

    .card_position p {
        font-size: 4px;
    }

    .event_card {
        height: 150px;
        border-radius: 0px;
    }

    .search_buttons {
        display: flex;
        overflow: hidden;

    }

    .buttons_scroll {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;


    }

    .search_buttons a {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        max-height: 50px;
        font-size: 20px;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.about_cantine {
    margin-left: 45px;
    max-width: 400px;

}

.h1_textcantine {
    display: flex;
    flex-direction: row;

}

.h1_textcantine #new {
    background-color: #ffc03a;
    color: white;
    padding: 10px;
    border-radius: 15px;
    

}

.cantineall {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.photocantine img {
    margin-left: 200px;
    width: 200px;
    height: 200px;

}

.info_cantine p {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 10px;
    margin-left: 45px;
    border-radius: 7px;
    background-color: #edf1f5;
    /* width: 60%; */
    max-width: 400px;

}

.info_cantine a {
    text-decoration: none;
    color: #9b59b6;
    border-radius: 15px;
    padding: 5px;
    transition: 200ms;

}

.info_cantine a:hover {
    text-decoration: underline;

}

.button_cantine {
    text-align: left;
    margin-left: 45px;

}

.button_cantine a {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    background-color: white;
    transition: 200ms ease-in;

}

.button_cantine a:hover {
    text-decoration: none;
    color: white;
    background-color: #9b59b6;

}

#last_header {
    margin-bottom: 100px;

}

.footer_page {
    display: flex;
    flex-direction: column;

}

.footergray {
    background-color: #d5d9dd;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sponmarg {
    margin-right: 100px;

}

.sponsors a {
    filter: opacity(60%);
    transition: 200ms ease-in;

}

.sponsors a:hover {
    filter: opacity(100%);

}

#spo1 {
    width: 50px;
    margin-top: 10px;

}

#spo2 {
    width: 50px;

}

#spo3 {
    width: 70px;

}

#spo4 {
    width: 90px;

}

.footerwhite {
    background-color: white;
    width: 100%;
    height: 300px;

}

.spons_pos {
    display: flex;
    justify-content: space-around;

}

.spons_card h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 25px;

}

.spons_card p {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: none
}

.imgspons {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.imgspons img {
    width: 40px;
    filter: opacity(50%);
    transition: 200ms ease-in;

}

.imgspons img:hover {
    cursor: pointer;
    filter: opacity(100%);

}

.imgspmar {
    margin-right: 10px;

}

#sponscenter {
    text-align: center;
}

#sponsleft {
    text-align: left;

}

.h1_textcantine #new {
    background-color: #ffc03a;
    color: white;
    padding: 10px;
    border-radius: 15px;
    animation: infinite newlogo 1s ease-in-out;

}

/* ANIMATION */

@keyframes newlogo {
    0% {
        background-color: #ffc03a;
        transform: scale(1);
    }

    50% {
        background-color: #ffd885;
        transform: scale(1.02);

    }

    100% {
        transform: scale(1);

    }
}

/*  */


@media only screen and (min-width: 750px) {
    .search_buttons a {
        font-size: 15px;

    }

}

@media only screen and (max-width: 750px) {

    .eventsblock {
        transform: scale(100%);
        margin-top: -190px;
        margin-left: -290px;
        margin-bottom: -200px;
    }

    .topnav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .topnav_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        margin-right: 55px;
        margin-left: 55px;
        margin-top: 5px;
        transition: 0ms;

    }

    .topnav_right a {
        text-align: center;
        transition: 0ms;


    }

    .topnav_right a:hover {
        background-color: #9b59b6;

    }

    .topnav_right:hover {
        background-color: white;

    }

    .topnav img {
        width: 200px;
        display: flex;
        justify-content: center;
        filter: none;
        margin: 0 auto;
        margin-top: 0px;
        filter: brightness(100%);
        transition: 0ms;

    }

    .topnav img:hover {
        transform: scale(1);

    }

    .headerimg h1 {
        font-size: 55px;

    }

    .headerimg p {
        font-size: 10px;

    }

    .button_header a {
        font-size: 15px;
        transition: 0ms;

    }

    .header_spacer {
        height: 10px;
        background-color: rgba(245, 245, 245, 0);

    }

    .eventsearch_area {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;

    }

    .search_buttons {
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .search_buttons a {
        padding: 5px;
        margin-right: 5px;

    }

    .events_area h1,
    p {
        text-align: center;

    }

    .card_position {
        display: flex;
        justify-content: center;

    }

    .event_card {
        margin-left: 0px;
        height: 250px;
        transition: 0ms;

    }

    .event_card:hover {
        transform: scale(1);

    }

    .event_card img {
        width: 250px;
        height: auto;
        transition: 0ms;
    }

    .event_card img:hover {
        transform: scale(1);
        filter: brightness(80%);

    }

    .events_area {
        display: flex;
        flex-direction: column;
        background-image: url(../images/background_event3.jpg);
        background-size: cover;

    }


    .sponmarg {
        margin-right: 10px;
    }

    .footerwhite p {
        font-size: 5px;
    }

    .footerwhite h1 {
        font-size: 10px;
    }

    .eventsearch_area {
        padding: 0px;
    }

    .card_position p {
        font-size: 4px;
    }

    .event_card {
        height: 150px;
        border-radius: 0px;
    }

    .search_buttons {
        display: flex;
        overflow: hidden;

    }

    .buttons_scroll {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: none;

    }

    .search_buttons a {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        max-height: 50px;
        font-size: 20px;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 155px;
    }

    .eventtext h1 {
        font-size: 10px;
    }

    .eventtext p {
        margin-top: 0px;
        font-size: 7px;
    }

    .data_event {
        font-size: 5px;
    }

    .tags_event {
        margin-top: 0px;
    }

    .infopose {
        display: flex;
        flex-direction: column;

    }

    .cornerleft {
        width: 100%;

    }

    .cornerright {
        width: 100%;

    }

    .btncantine a {
        font-size: 25px;
        transition: 0ms;

    }

    .infoarea h1 {
        text-align: center;
        margin-left: 0px;

    }

    .infoarea p {
        text-align: center;

    }

    .cornerright {
        height: 1000px;

    }

    .commentblock {
        width: 90%;
        height: 800px;

    }

    .message_text {
        display: flex;
        flex-direction: column;

    }

    .profilemessage {
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .profilemessage img {
        position: static;

    }
    
    .uploaddate p {
        margin-left: 0px;
        text-align: center;

    }

    .footergray {
        margin-top: 45px;

    }

    .cantineall {
        display: flex;
        flex-direction: column;

    }

    .photocantine {
        display: flex;
        justify-content: center;

    }

    .photocantine img {
        margin: 0px;

    }

}

@media only screen and (max-width: 400px) {
    .h1_textcantine h1 {
        font-size: 20px;
    }

}